<div class="container">
    <h2 class="text-center mt-3">User List</h2>
    <table class="table mt-5">
        <thead>
          <tr>
            <th scope="col">Firstname</th>
            <th scope="col">Lastname</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Image Path</th>
          </tr>
        </thead>
        <tbody>
          <tr class="tableRow">
            <td><span>{{userInfo.firstname}}</span></td>
            <td><span>{{userInfo.lastname}}</span></td>
            <td><span>{{userInfo.email}}</span></td>
            <td><span>{{userInfo.phone}}</span></td>
            <td><img src="{{image_path}}" *ngIf="image_path" width="100px" alt=""></td>
          </tr>
        </tbody>
      </table>
      <div class="d-flex justify-content-end">
        <button class="btn btn-primary" routerLink="/user/userList">User List</button>
    </div>
</div>