<div class="container">
    <h2 class="text-center mt-3">User List</h2>
    <div class="d-flex justify-content-end">
        <button class="btn btn-success" routerLink="/user/createUser">Create New User</button>
    </div>
    <table class="table mt-5" *ngIf="userData && userData.length">
        <thead>
          <tr>
            <th scope="col">Firstname</th>
            <th scope="col">Lastname</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Image</th>
            <th scope="col">Update</th>
            <th scope="col">Delete</th>
            <th scope="col">View</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of userData" class="tableRow">
            <td><span>{{user.firstname}}</span></td>
            <td><span>{{user.lastname}}</span></td>
            <td><span>{{user.email}}</span></td>
            <td><span>{{user.phone}}</span></td>
            <td><span>{{user.image}}</span></td>
            <td><button class="btn btn-primary" (click)="updateUser(user)">Update</button></td>
            <td><button class="btn btn-danger" (click)="deleteUser(user._id)">Delete</button></td>
            <td><button class="btn btn-danger" (click)="viewUser(user)">View</button></td>
          </tr>
        </tbody>
      </table>
    <div  *ngIf="userData && userData.length === 0"><h4>Record not found</h4></div>
</div>
<app-toast *ngIf="toastObj !==null" [toastObj]="toastObj"></app-toast>